
.table {
  margin-bottom: 2rem;
  width: 100%;
  table-layout: fixed;
}

.table th, .table td {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.künstler-table th:nth-child(1),
.künstler-table td:nth-child(1) {
  width: 10%; }

.künstler-table th:nth-child(2),
.künstler-table td:nth-child(2) {
  width: 30%; 
}

.künstler-table th:nth-child(3),
.künstler-table td:nth-child(3) {
  width: 15%;
}

.künstler-table th:nth-child(4),
.künstler-table td:nth-child(4) {
  width: 25%;
}

.künstler-table th:nth-child(5),
.künstler-table td:nth-child(5) {
  width: 20%; 
}


.genre-table th:nth-child(1),
.genre-table td:nth-child(1) {
  width: 10%;
}

.genre-table th:nth-child(2),
.genre-table td:nth-child(2) {
  width: 60%;
}

.genre-table th:nth-child(3),
.genre-table td:nth-child(3) {
  width: 30%;
}

.table td:last-child,
.table th:last-child {
  text-align: right;
  padding-right: 1.5rem;
}

